@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

/* 一段目 */
.header {
  background-image: url(../image/top.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 660px;
  text-align: center;
  position: relative;
  padding-top: 48px;
}

.header .logo {
  margin: 0 auto 16px;
  width: 131px;
  height: 116px;
  background-image: url(../image/logo.top.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
  margin-top: 130px;
}

.header .tagline {
  font-size: 20px;
  color: #fff;
  margin: 35px 6vmin 24px;
}

.header .content {
  margin: 0 auto;
  text-align: center;
  padding-top: 260px;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

.download {
  padding: 24px 16px;
  height: 97px;
  width: 100%;
}

.download .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.download .container .appstore {
  width: 164px;
  height: 49px;
  margin: 0 auto;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/Appstore.png);
  background-size: cover;
  margin-right: 16px;
}

.download .container .googleplaystore {
  width: 164px;
  height: 49px;
  margin: 0 auto;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/google.play.png);
  background-size: cover;
}

.header .content .footnote {
  margin: 24px auto;
}

.header .content .footnote p {
  margin-bottom: 4px;
  color: #fff;
}

/* 二段目 */

.service .container {
  display: flex;
  height: 540px;
}

.service .container .item {
  padding: 8vmin;
  flex-grow: 1;
  flex-basis: 100vw;
  min-height: 540px;
}

.service .container .item1 {
  background-image: url(../image/main1.png);
  background-size: cover;
  background-position: center bottom;
}

.service h2 {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 10px;
  font-weight: normal;
  margin-top: 0;
}

.service p {
  text-align: justify;
  color: #fff;
  font-size: 0.94rem;
  line-height: 1.6;
}

.service .container .item2 {
  background-image: url(../image/main2.png);
  background-size: cover;
  background-position: center bottom;
}

.service .container .item3 {
  background-image: url(../image/main3.png);
  background-size: cover;
  background-position: center bottom;
}

/* 三段目 */

section.price {
  height: 510px;
}

.price .container {
  display: flex;
  flex-wrap: wrap;
}

.price .container .item-price {
  padding: 16vmin 6vmin 20vmin;
  background: #f5f5f5;
  height: 510px;
  width: 50%;
}

.price .container .item-price h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #3f434a;
  text-align: center;
  margin-bottom: 20px;
}

.price .container .item-price .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  background-image: url(../image/plan1.png);
  background-size: cover;
  height: 252px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  z-index: 0;
}

.price .container .item-price .plan_item {
  background-image: url(../image/plan2.png);
  width: 65px;
  height: 65px;
  position: absolute;
  background-size: cover;
  right: -20px;
  top: -20px;
  z-index: 20;
}

.price .container .item-price .footnote {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
}

.price .container .item-frequency {
  padding: 16vmin 6vmin 20vmin;
  height: 510px;
  width: 50%;
}

.price .container .item-frequency .img {
  background-image: url(../image/corender.png);
  margin-bottom: 16px;
  height: 152px;
  width: 170px;
  background-size: contain;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.flower .container {
  background-image: url(../image/flowere.png);
  background-size: cover;
  height: 730px;
  order: 1;
}

.flower .container .item-body {
  max-width: 400px;
  margin: 0 auto;
}

.item-frequency h2 {
  font-weight: normal;
  font-size: 25px;
  color: #3f434a;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* 四段目 */

.flower .container {
  height: 730px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.flower .container .item-body {
  margin: 0 auto;
  margin-right: 7%;
  max-width: 392px;
  padding-top: 140px;
}

.flower .container .item-body p {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #3f434a;
}

.flower .container .item-title {
  order: 2;
  padding-bottom: 10px;
  margin-bottom: 24px;
  text-align: center;
}

.flower .container .item-title h2 {
  font-weight: normal;
  font-size: 25px;
  color: #3f434a;
}

.flower .container h3 {
  color: #3f434a;
  font-weight: normal;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* 五段目 */

.vase {
  background-image: url(../image/vase2.png);
  background-size: cover;
}

.vase .container h2 {
  font-weight: normal;
  font-size: 25px;
  color: #3f434a;
  line-height: 1.5;
}

.vase .container .vase-item-body {
  width: 400px;
  padding-top: 93px;
  margin-left: 118px;
  text-align: center;
  padding-bottom: 165px;
}

.vase .container .item-title {
}

.vase .container .discunt {
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  background-color: white;
  padding: 10px 12px;
  margin-top: 22px;
}

.vase .container .item-body {
  line-height: 1.5;
}

.vase .container .item-body p {
  width: 400px;
  margin-top: 30px;
  text-align: initial;
}

section.vase .vase-variation {
  display: flex;
  justify-content: space-between;
  margin: 24px auto;
  height: 113px;
}

section.vase .vase-variation .item-bell {
  background-image: url(../image/vase-bell.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 98px;
}

section.vase .vase-variation .item-moon {
  background-image: url(../image/vase.moon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 98px;
}

section.vase .vase-variation .item-candle {
  background-image: url(../image/vase.candle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 98px;
}

.vase .container .price {
  display: flex;
}

.vase .container .price .title {
  border: solid 2px;
  padding: 4px;
  margin-right: 19px;
}

.vase .container .item-body　footnote {
  margin-top: 16px;
  font-size: 14px;
}

/* 六段目 */

section.service2 {
  padding: 12vmin 4vmin 16vmin;
  text-align: center;
}

section.service2 h2 {
  font-size: 25px;
  margin-top: 102px;
  margin-bottom: 39px;
  font-weight: normal;
}

section.service2 .container {
  display: flex;
  flex-wrap: wrap;
}

section.service2 .container .item {
  padding-top: 60px;
  margin-bottom: 131px;
  flex-grow: 1;
}

section.service2 .container .item h3 {
  margin-bottom: 23px;
}

section.service2 .container .item1 {
  background-image: url(../image/icon01.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center top;
}

section.service2 .container .item2 {
  background-image: url(../image/icon02.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center top;
}

section.service2 .container .item3 {
  background-image: url(../image/icon03.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center top;
}

/* 七段目 */

section.download2 {
  background-image: url(../image/smart.png);
  background-size: cover;
  height: 420px;
}

section.download2 .item-logo {
  background-image: url(../image/smart.logo.png);
  background-size: 118px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 92px;
  width: 255px;
  height: 100px;
  margin: 0 auto;
  margin-right: 253px;
}

section.download2 .item-logo h3 {
  padding-top: 90px;
}

@media screen and (min-width: 650px) {
  .pc-br {
    display: block;
  }

  .sp-br {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .pc-br {
    display: none;
  }

  .sp-br {
    display: block;
  }
}
