@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

.header {
  background-image: url(../image/top.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 660px;
  text-align: center;
  position: relative;
  padding-top: 48px;
}

.header .logo {
  margin: 0 auto 16px;
  width: 131px;
  height: 116px;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/logo.top.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
}

.header .tagline {
  font-size: 1.8rem;
  color: #fff;
  margin: 16px 6vmin 24px;
  animation: fadeIn 2s ease 0.2s 1 normal;
}

.header .content {
  margin: 0 auto;
  text-align: center;
  padding-top: 260px;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

.download {
  padding: 24px 16px;
  height: 97px;
  width: 100%;
}

.download .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.download .container .appstore {
  width: 164px;
  height: 49px;
  margin: 0 auto;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/Appstore.png);
  background-size: cover;
  margin-right: 16px;
}

.download .container .googleplaystore {
  width: 164px;
  height: 49px;
  margin: 0 auto;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/google.play.png);
  background-size: cover;
}

.header .content .footnote {
  margin: 24px auto;
}

.header .content .footnote p {
  margin-bottom: 4px;
  color: #fff;
}

.service .container {
  display: flex;
  height: 540px;
}

.service .container .item {
  padding: 8vmin;
  flex-grow: 1;
  flex-basis: 100vw;
  min-height: 540px;
}

.service .container .item1 {
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/main1.png);
  background-size: cover;
  background-position: center bottom;
}

.service h2 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: normal;
}

.service p {
  text-align: justify;
  color: #fff;
  font-size: 1.5rem;
}

.service .container .item2 {
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/main2.png);
  background-size: cover;
  background-position: center bottom;
}

.service .container .item3 {
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/main3.png);
  background-size: cover;
  background-position: center bottom;
}
