@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

.header {
  background-image: url(../image/top.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 660px;
  text-align: center;
  position: relative;
  padding-top: 48px;
}

.header .logo {
  margin: 0 auto 16px;
  width: 131px;
  height: 116px;
  background-image: url(../image/logo.top.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
  margin-top: 130px;
}

.header .tagline {
  font-size: 20px;
  color: #fff;
  margin: 35px 6vmin 24px;
}

.header .content {
  margin: 0 auto;
  text-align: center;
  padding-top: 260px;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

.download {
  padding: 24px 16px;
  height: 97px;
  width: 100%;
}

.download .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.download .container .appstore {
  width: 164px;
  height: 49px;
  margin: 0 auto;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/Appstore.png);
  background-size: cover;
  margin-right: 16px;
}

.download .container .googleplaystore {
  width: 164px;
  height: 49px;
  margin: 0 auto;
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/google.play.png);
  background-size: cover;
}

.header .content .footnote {
  margin: 24px auto;
}

.header .content .footnote p {
  margin-bottom: 4px;
  color: #fff;
}

.service .container {
  display: flex;
  height: 540px;
}

.service .container .item {
  padding: 8vmin;
  flex-grow: 1;
  flex-basis: 100vw;
  min-height: 540px;
}

.service .container .item1 {
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/main1.png);
  background-size: cover;
  background-position: center bottom;
}

.service h2 {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 10px;
  font-weight: normal;
  margin-top: 0;
}

.service p {
  text-align: justify;
  color: #fff;
  font-size: 0.94rem;
  line-height: 1.6;
}

.service .container .item2 {
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/main2.png);
  background-size: cover;
  background-position: center bottom;
}

.service .container .item3 {
  background-image: url(file:///Users/shiratorishun/Desktop/flower.file/main3.png);
  background-size: cover;
  background-position: center bottom;
}

.price {
  height: 500px;
}

.price .container {
  display: flex;
  flex-wrap: wrap;
}

.price .container .item-price {
  padding: 16vmin 6vmin 20vmin;
  background: #f5f5f5;
  height: 510px;
  width: 50%;
}

.price .container .item-price h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #3f434a;
  text-align: center;
}

.price .container .item-price .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  background-image: url(../image/plan1.png);
  background-size: cover;
  height: 252px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  z-index: 0;
}

.price .container .item-price .plan_item {
  background-image: url(../image/plan2.png);
  width: 65px;
  height: 65px;
  position: absolute;
  background-size: cover;
  right: -20px;
  top: -20px;
  z-index: 20;
}

.price .container .item-price .footnote {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  line-height: 0.7;
}

.price .container .item-frequency {
  padding: 16vmin 6vmin 20vmin;
  background: #f5f5f5;
  height: 510px;
  width: 50%;
}

.price .container .item-frequency .img {
  background-image: url(../image/corender.png);
  margin-bottom: 16px;
  height: 152px;
  width: 170px;
  background-size: contain;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.flower {
}

.flower .container {
  height: 730px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.flower .container {
  background-image: url(../image/flowere.png);
  background-size: cover;
  height: 730px;
  order: 1;
}

.flower .container .item-body {
  max-width: 400px;
  margin: 0 auto;
}

.item-frequency {
}

.item-frequency h2 {
  font-weight: normal;
  color: #3f434a;
  text-align: center;
  margin-top: 80px;
  line-height: 1.6;
}

.flower .container {
  height: 730px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.flower .container .item-body {
  /* max-width: 400px;
  margin: 0 auto; */
  margin: 0 auto;
  margin-right: 7%;
  text-align: center;
  max-width: 392px;
  padding-top: 140px;
}

.flower .container .item-body p {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #3f434a;
}

.flower .container .item-title {
  order: 2;
  padding-bottom: 10px;
}

.flower .container .item-title h2 {
  font-weight: normal;
  font-size: 25px;
  color: #3f434a;
}

.flower .container h3 {
  color: #3f434a;
  font-weight: normal;
}

.vase {
  height: 776px;
  background-image: url(../image/vase.png);
  background-size: cover;
}

.vase .container {
  padding: 10vmin 0 0;
}

.vase .container h2 {
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  color: #3f434a;
  line-height: 1.5;
}

.vase .container .title {
  width: 50%;
  max-height: fit-content;
}

.vase .container .discunt {
  text-align: center;
}

.vase .container .item-body {
  width: 50%;
  text-align: center;
  padding: 0 120px;
  line-height: 1.5;
}
